<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Team Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/equipes/liste" routerLinkActive="active">Équipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/utilisateurs" routerLinkActive="active">Utilisateurs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
